<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>

    <!---->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">RMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{if eq .AccessLevel 0 }}
          <li class="nav-item">
            <a class="nav-link" href="/request-loan">Requests</a>
          </li>
          {{else if eq .AccessLevel 1 }}
          <li class="nav-item">
            <a class="nav-link" href="/review-loan">Review</a>
          </li>
          {{end}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://github.com/Kiarash-Parvizi">Github</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          {{if eq .AccessLevel 0}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          {{end}}
        </ul>
      </div>
    </nav>
    <br/><br/><br/>

    <!---->
    <div class="d-flex justify-content-center">
    <form action="/request-loan-data" method="post">
      <!--
      -->
      <div class="form-group">
        <label for="loanSelect">Loan Type</label>
        <select name="loanType" class="form-control" id="loanSelect">
          <option value="KalaCard">KalaCard Loan</option>
          <option value="Corona">Corona Loan</option>
          <option value="Guarantor">Guarantor Loan</option>
        </select>
      </div>
      <div class="form-group">
        <label for="amountSelect">Amount</label>
        <select name="loanAmount" class="form-control" id="amountSelect">
          <option value="15,000,000 T">15,000,000 T</option>
          <option value="45,000,000 T">45,000,000 T</option>
          <option value="95,000,000 T">95,000,000 T</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ControlTextarea1">Additional Notes:</label>
        <textarea name="AdditionalNotes" class="form-control" id="ControlTextarea1" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="ControlInput1">ObjectId: </label>
        <input type="text" name="ObjectId" class="form-control" id="ControlInput1" placeholder="code">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <!---->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>