<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>

    <!---->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">RMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          {{if eq .AccessLevel 0 }}
          <li class="nav-item">
            <a class="nav-link" href="/request-loan">Requests</a>
          </li>
          {{else if eq .AccessLevel 1 }}
          <li class="nav-item">
            <a class="nav-link" href="/review-loan">Review</a>
          </li>
          {{end}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://github.com/Kiarash-Parvizi">Github</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          {{if eq .AccessLevel 0}}
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          {{end}}
        </ul>
      </div>
    </nav>
    <br/><br/><br/>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>PIN:</td>
          <td>{{.PIN}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>FullName:</td>
          <td>{{.FullName}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>User-Credits:</td>
          <td>{{.Credits}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Loan-Type:</td>
          <td>{{.LoanType}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Loan-Amount:</td>
          <td>{{.Amount}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Additional-Notes:</td>
          <td>{{.AdditionalNotes}}</td>
        </tr>
      </tbody>
    </table>
    <!--UPIN    | LoanType  | Amount       | AdditionalNotes | RefObjectId-->
    <div class="d-flex justify-content-center">
    <p class="mb-0 px-2">
      PIN: {{.PIN}}
    </p><br/>
    <p class="mb-0 px-2">
      FullName: {{.FullName}}
    </p><br/>
    <p class="mb-0 px-2">
      User-Credits: {{.Credits}}
    </p><br/><br/>

    <p class="mb-0 px-2">
      Loan Type : {{.LoanType}}
    </p><br/>
    <p class="mb-0 px-2">
      Loan Amount: {{.Amount}}
    </p><br/>
    <p class="mb-0 px-2">
      Additional Notes: {{.AdditionalNotes}}
    </p><br/>
    </div><br/>
    <!---->

    <!---->
    <div class="d-flex justify-content-center">
    <form action="/review-loan-data" method="POST">
      <div class="form-check">
        <input type="hidden" id="custId" name="RID" value={{.RID}}>
        <input class="form-check-input" type="checkbox" name="RequestAccepted" value="True" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Request Accepted
        </label>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>